<!DOCTYPE html>
<html lang="en">
  <head>
    <head> 
    <meta charset="utf-8" />
    <title>Bounce | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  </head>
  <body class="no-space">

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<%= image_tag "header_cp.jpg" %>
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <!-- <a class="brand" href="index.html">SMS </a> -->
		  <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
			  <li class="dropdown active">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Trang Chủ<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="index.html" tabindex="-1">Default Home</a></li>
				  <li><a href="alt.html" tabindex="-1">Alternative Home</a></li>
				</ul>
			  </li>
              <li><a href="about.html">Giới Thiệu</a></li>		  
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Hướng Dẫn <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="blog.html" tabindex="-1">Tin Tức</a></li>
				  <li><a href="single.html" tabindex="-1">Bài Viết</a></li>
				  <li><a href="dividers.html" tabindex="-1">Dividers</a></li>
				</ul>
			  </li>
			  <li><a href="pricing.html">Dịch Vụ</a></li>
			  <li><a href="login.html">Đăng Nhập</a></li>
			  <li><a href="register.html">Đăng Ký</a></li>
			  <li><a href="contact2">Liên Hệ</a></li>
			  
            </ul>
		  </div>
        </div>
      </div>
    </div>	
	
	<div id="landing" class="no-space">

	  <div class="container">  
	  	<div class="time">Thứ hai, 09/09/2013</div>

	  	<!-- end header -->
	  	
	    <div class="row">
	    <!-- left menu 
		  <div class="span3 no-space">
		  	
		    <ul class="left-nav">
		    	<a href=""><%= image_tag "timkiem.jpg" %></a>
		    	<li><a href="">Doanh nghiệp</a></li>
		    	<li><a href="">Đặc tính</a></li>
		    	<li><a href="">Hướng dẫn</a></li>
		    	<li><a href="">Đối tác</a></li>
		    	<li><a href="">Dự án đã triển khai</a></li>
		    </ul> 
		  	
		  </div>
		  end left menu -->
		  	<div class="span9">
		  	 <div class="js-video">
			  <iframe src="http://player.vimeo.com/video/38498748?title=0&amp;byline=0&amp;portrait=0&amp;color=38e8ae" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		    </div>
			</div>
		    <!-- article 
		    <div class="span3 article">
		    
              <h2><a href="">Thủ tướng Nguyễn Tấn Dũng hội kiến với Tổng thống Hàn Quốc Park Geun-Hye</a></h2>
              <span class="timepost">(09/09/2013 15:00:39)</span>
              <img src="http://baodientu.chinhphu.vn/Uploaded/dangdinhnam/2013_09_09/_BAC0012%20anh%20chu.jpg">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#">View details »</a></p>
             
            </div>

            <div class="span3 no-space">
            	<ul>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
					<li><a href="">Tổng Bí thư dự khai giảng của Học viện Quốc phòng</a></li>
            	</ul>
            </div>
			 -->
            <div class="span3">
            	<div class="hanhchinh">
            		<a href="">Các doanh nghiệp đã sử dụng dịch vụ</a>

            	</div>
            	<img src="http://chinhphu.vn/templates/govportal/tinhthanh/images/bando.jpg">
            </div>
		  </div>

		
		</div>
	  </div>
	</div>

	<div id="content" class="txt-middle">
	  <div class="container">
	    <div class="row">
		  <div class="span9 no-space">
			<h2>Đặc điểm nổi bật của Tem Chống Hàng Giả</h2>
		    <hr class="dashed" />				
		 
		  <div class="span3 bouncy no-space">
		    <div class="icon_wrapper">
		      <i class="glyphicons-display animated"></i>
		    </div>
			<h2>Kiểm định</h2>
			<p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>	
		  </div>

		  <div class="span3 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-font animated"></i>
		    </div>
			<h2>SMS xác minh</h2>
			<p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p>	
		  </div>

		  <div class="span3 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-airplane animated"></i>
		    </div>

			<h2>Tổng đài hỗ trợ</h2>
			<p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p>	
		  </div>		  
		</div>

		<div class="span3">
			<ul class="listtrangtin no-space">
				<li>
					<img src="http://chinhphu.vn/templates/govportal/tinhthanh/images/icon_vpcp.jpg">
					<a href=""><h3>Trang tin Văn phòng Chính phủ</h3>
				</a>
				</li>

				<li>
					
					<img src="http://chinhphu.vn/templates/govportal/tinhthanh/images/icon_vpcp.jpg">
					<a href=""><h3>Trang tin Văn phòng Chính phủ</h3>
				</a>
				</li>

				<li>
					
					<img src="http://chinhphu.vn/templates/govportal/tinhthanh/images/icon_vpcp.jpg">
					<a href=""><h3>Trang tin Văn phòng Chính phủ</h3>
				</a>
				</li>
			</ul>
		</div>
		<!-- nothing to do 		
	    <div class="row">
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200" />
			</a>		
			<h2>Image 1</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200" />
			</a>
			<h2>Image 2</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200" />
			</a>
			<h2>Image 3</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>		  
		</div>	
		-->	
	  </div>
	</div>
	<!-- footer 
	<div id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Quick Links</h3>
			<ul class="animated">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">About Us</a></li>
			  <li><a href="#">Features</a></li>
			  <li><a href="#">Pricing</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Company</h3>
			<ul class="animated">
			  <li><a href="#">Privacy Policy</a></li>
			  <li><a href="#">Terms of Use</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>	
		  </div>
		  <div class="span3">
			<h3>We're Social</h3>
			<ul class="animated">
			  <li><a href="#">Facebook</a></li>
			  <li><a href="#">Twitter</a></li>
			  <li><a href="#">Google &#43;</a></li>
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Subscribe</h3>
			<p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>			
		    <form />
              <input class="span3" type="text" placeholder="Your Email" name="subscribe" />
			  <button class="btn btn-primary">Subscribe</button>
			</form>
		  </div>		  
		</div>	  
      </div>	  
    </div>
	-->
	<div id="copywrite">

	  <div class="container">
	  	<hr class="red" />
	    <div class="row">
		  <div class="span12">
		    <strong>© CỔNG THÔNG TIN ĐIỆN 
	TỬ CHÍNH PHỦ</strong><br>

	Tổng Giám đốc: Phạm Việt Dũng<br>
	Trụ sở: 16 Lê Hồng Phong - Ba Đình - Hà Nội.<br>
	Điện thoại: Văn phòng: 080 43162; Fax: 080.48924; Email: <a href="mailto:thongtinchinhphu@chinhphu.vn" style="font-family:Arial; font-size:11px; text-decoration:underline;" target=""> 
	thongtinchinhphu@chinhphu.vn</a>.<br>
Bản quyền thuộc Cổng Thông tin điện tử Chính phủ.<br>
	Ghi rõ nguồn 'Cổng Thông tin điện tử Chính phủ' hoặc '<a href="http://www.chinhphu.vn" style="font-family:Arial; font-size:11px; text-decoration:underline;" target="">www.chinhphu.vn</a>' 
	khi phát hành lại thông tin từ các nguồn này. 
	
		  </div>		  
		</div>	  
      </div>	  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/bounce.js"></script>	

  </body>
</html>